<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Form 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3s4Wz6iJgD/+ub2oU" crossorigin="anonymous">


</head>

<body>
    <section class="ftco-section" style="background-color: white;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Ajoute une Evenements </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row mb-5">
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                               
                              
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                            
                                   
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                
                                   
                                </div>
                            </div>

                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Entrer les donnees </h3> <br>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>

                                    <form   id="myForm" class="contactForm" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Nom d evenements</label>
                                                    <input formControlName="from_name" type="text" class="form-control"
                                                        name="name" id="name" placeholder="Nom d evenements"><br><br>
                                                        <div class="form-group">
                                                            <label class="label">Nom de club</label> <br><br>
                                                            <select id="Club" name="Club">
                                                                <option value="CIAO">CIAO</option>
                                                                <option value="IEEE">IEEE</option>
                                                                <option value="Club orange">Club orange</option>
                                                                <option value="AISEC">AISEC</option>
                                                                <option value="JCI">JCI</option>
                                                                <option value="JET">JET</option>
                                                                <option value="NATEC">NATEC</option>
    
    
                                                                <!-- <option value="bizerte">Bizerte</option>
                                                                    <option value="beja">Béja</option>
                                                                    <option value="jendouba">Jendouba</option>
                                                                    <option value="kasserine">Kasserine</option>
                                                                    <option value="kairouan">Kairouan</option>
                                                                    <option value="kasserine">Kasserine</option>
                                                                    <option value="kébili">Kébili</option>
                                                                    <option value="kef">Le Kef</option>
                                                                    <option value="mahdia">Mahdia</option> -->
                                                                <!-- <option value="medenine">Médenine</option>
                                                                    <option value="monastir">Monastir</option>
                                                                    <option value="sfax">Sfax</option>
                                                                    <option value="sidi-bouzid">Sidi Bouzid</option> -->
                                                                <!-- <option value="siliana">Siliana</option>
                                                                <option value="sousse">Sousse</option>
                                                                <option value="tataouine">Tataouine</option>
                                                                <option value="tozeur">Tozeur</option>
                                                                <option value="gafsa">Gafsa</option>
                                                                <option value="zaghouan">Zaghouan</option> <br> -->
                                                            </select><br><br><br>    
                                                        <div class="col-md-12">
                                                            <label class="label">date  d Evenements</label><br><br>

                                                            <input class="form-control" type="date" id="start"
                                                                name="trip-start" [value]="today" min="1990-01-01"
                                                                max="2050-12-31" /> <br> <br>

                                                                

                                                        </div><br><br>
                                                    </div>
                                                </div>
                                            </div><br><br>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <label class="label" for="email">Email</label>
                                                    <input formControlName="from_email" type="email"
                                                        class="form-control" name="email" id="email"
                                                        placeholder="Email"><br><br> -->
                                                    <div>

                                                        <!-- <label class="label">date  d Evenements</label><br><br>

                                                        <input class="form-control" type="date" id="start"
                                                            name="trip-start" [value]="today" min="1990-01-01"
                                                            max="2050-12-31" /> <br> <br> -->
                                                    </div>
                                                    <br>
                                                    
                                                </div>
                                            </div>
                                            
                                            <!-- <div class="col-md-12">

                                            </div> -->
                                            <!-- <div class="col-md-12">
                                                <div class="form-group">

                                                </div>
                                               

                                            </div> -->

                                            <div class="form-group">
                                                <a href="/listEvenements">
                                                    <input type="button" value="Ajouter" class="btn btn-success"  onclick="return alert('Vous avez Ajouter une Evenements ')"> </a>
                                                    <input type="reset" value="Annuler" class="btn btn-danger ml-4"  onclick="window.location.href = '/dashboard';">


                                                <div class="submitting"></div>
                                            </div>


                                        </div>
                                    </form>

 <!-- <button id="myButton">Cliquez ici</button>
  <div id="successMessage" class="message-success" style="display: none;">Opération réussie!</div> -->

  <script>
    const button = document.getElementById('myButton');
    const message = document.getElementById('successMessage');

    button.addEventListener('click', () => {
      message.style.display = 'block';
    });
  </script>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">

                                <!-- <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3209.874868577243!2d10.674646011435911!3d36.436408338006814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13029f1ca3014f93%3A0x197afabacb39f85c!2sInstitut%20Sup%C3%A9rieur%20des%20%C3%89tudes%20Technologiques%20de%20Nabeul!5e0!3m2!1sfr!2stn!4v1715501632573!5m2!1sfr!2stn"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                                    
                                    <app-test></app-test>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
       
            const submitButton = document.getElementById('submit-button');

        submitButton.addEventListener('click', function(event) {

            event.preventDefault();

            
            
            alert('Succès !');

           
            
        });



    </script>
</body>

</html>
