<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <br><br><br>
  <div class="slider" >
    <div class="list">
        <a href="/Evenements">
            <div class="item">
                <img src="assets/img/1.jpg" alt="">
            </div>
        </a>
        <a href="/Evenements">

        <div class="item">
            <img src="assets/img/2.jpg" alt="">
        </div>
        </a>
        <a href="/Evenements">
        <div class="item">
            <img src="assets/img/3.jpg" alt="">
        </div>
        </a>
        <a href="/Evenements">
        <div class="item">

            <img src="assets/img/4.jpg" alt="">
        </div>
        </a>
        <a href="/Evenements">
        <div class="item">
            <img src="assets/img/5.jpg" alt="" width="30px">
        </div>
        </a>
        <a href="/Evenements">
        <div class="item">
            <img src="assets/img/7.jpg" alt="">
        </div>
        </a>
    </div>
    <div class="buttons">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- <div style="padding-top: 10%;">
    <h2 class="section__title text-success" data-sider-select-id="8690a84b-163a-42af-9526-a99f581babfc">Nos dernières actualités</h2>
</div> -->

    
</body>
</html>