<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  
    
  </head>
  <body>
    <!--- Paste HTML below here -->
        <div class="container">
        <div class="left-section"></div>
        <div class="right-section">
            <div class="login-container">
                <form class="login-form">
                    <h2 class="login-title"><i class="fas fa-user-circle"></i> Connexion</h2>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Adreesse e-mail ou numero de tél" id="username" required  > 
                    </div>
                    <div class="form-control">
                        <i class="fas fa-lock icon"></i>
                        <div class="mdp" >
                            <input type="password" placeholder="Mot de passe" id="password" />
                            <!-- <i class="fas fa-eye"  style="left: 95%;"></i> -->
                     </div>
                        
                    </div>
                    <div class="remember-me">
                        <input type="checkbox"  id="rememberMe" class="checkbox-input">
                        <span class="checkbox-custom" type="checkbox" ></span>
                        <label for="rememberMe">Remember me</label>
                        <!-- <input type="checkbox">sssssss -->
                    </div>
<!--                     
                    <div class="social-login">
                        <i class="fab fa-google social-icon"></i>
                        <i class="fab fa-facebook-f social-icon"></i>
                        <i class="fab fa-twitter social-icon"></i>
                    </div> -->
                
                       
                    <a href ="/dashboard" class="btn btn-primary">Connexion </a><br><br>
<div style="text-align: center;">
  <button href ="/dashboard" class="btn btn-success" style="background-color: rgb(4, 155, 4); justify-content: center; align-items: center;  " >Creer une autre compte </button>

</div>
                     
              </form>
            </div>
        </div>
    </div>
    
    
    <script>
     let input = document.querySelector('#password');
    let showBtn = document.querySelector('.show-btn');
showBtn.onclick = function() {
  if (input.type === "password") {
    input.type = "text";
    showBtn.classList.add('active');
  } else {
    input.type = "password";
    showBtn.classList.remove('active');
  }
}

        </script>

  </body>
</html>