<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-home></app-home>
    <div class="title">
        <p>Evenements robotiques</p>
    </div>
    <app-slider></app-slider>

    <div  class="actuliser  ">
        <h2   class="section__title text-success"  ><span class="underline" >Nos</span> dernières actualités</h2>
    </div>

    <section id="popular-destination">
        <div class="content">
            <!-- box -->
            <div class="box">
                <img src="../assets/img/event3.jpg" alt="">
                <div class="content">
                    <div>
                        <h4>Evenements Robotique</h4><br>
                        <div style="margin-left:5% ; text-align: justify;">
                        <i class="fa fa-clock-o" style="color: #1cbcb0;"></i> <i>2024-05-30 14:00</i><br>
                        <i class="fa fa-map-marker" style="color: #1cbcb0;" > </i><i>ENFI 04</i>
                    </div>
                        <p></p>
                        <p></p>
                        <a style="text-decoration: none;" href="/Evenements">Voire detaille</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="../assets/img/event2.jpg" alt="">
                <div class="content">
                    <div>
                        <h4>Your Dorne</h4><br>
                        <div style="margin-left:5% ; text-align: justify;">
                            <i class="fa fa-clock-o" style="color: #1cbcb0;"></i> <i>2024-06-01 14:30</i><br>
                            <i class="fa fa-map-marker" style="color: #1cbcb0;" > </i><i>ENFI 06</i>
                        </div>
                        <p></p>
                        <p></p>
                        <a style="text-decoration: none;"  href="/Evenements">Voire detaille</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="../assets/img/event1.jpg" alt="">
                <div class="content">
                    <div>
                        <h4>Are You Ready !</h4><br>
                        <div style="margin-left:5% ; text-align: justify;">
                            <i class="fa fa-clock-o" style="color: #1cbcb0;"></i> <i>2024-06-03 16:00</i><br>
                            <i class="fa fa-map-marker" style="color: #1cbcb0;" > </i><i>salle Oange</i>
                        </div>
                        <p></p>
                        <p></p>
                        <a  style="text-decoration: none;" href="/Evenements">Voire detaille</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>